/* src/styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: center;
    align-items: center; */
    height: 100vh;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 5em;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    margin: 10px;
    justify-content: center;
    align-items: center;
  }
  
  .card-header {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-description {
    color: #333;
  }
  
  .card-content {
    margin-top: 10px;
    color: #666;
  }
  /* src/styles.css */
/* src/styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #fff;
  }
  
  main {
    flex: 1;
    padding-top: 60px; /* Adjust based on your header's height */
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
  